<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthDietPro">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.HeightDetailActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.profile.WeightDetailActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".ui.settings.AppSettingsComposeActivity"
            android:exported="false"
            android:label="@string/settings_app_title" />
        <activity
            android:name=".ui.settings.UserSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.ReminderSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.BmiDetailActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:exported="false" />
        <activity
            android:name=".common.ui.ComposePreviewActivity"
            android:exported="true"
            android:label="Compose 主题预览" />

        <activity
            android:name=".ui.record.MedicationRecordActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|uiMode" />
        <activity
            android:name=".ui.record.MedicationListActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|uiMode" />
        <activity
            android:name=".ui.record.MedicationCatalogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.record.BloodGlucoseActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
